# This notebook handels data import and preprocessing

## Importing data

In [5]:
from typing import List

import numpy as np
import pandas as pd

#FILE PATHS
KAGGLE_DATASET_FOLDER = './kaggle_data'

#Restaurants
ACCEPTS = KAGGLE_DATASET_FOLDER + '/chefmozaccepts.csv'
CUISINE = KAGGLE_DATASET_FOLDER + '/chefmozcuisine.csv'
HOURS = KAGGLE_DATASET_FOLDER + '/chefmozhours4.csv'
PARKING = KAGGLE_DATASET_FOLDER + '/chefmozparking.csv'
PLACES = KAGGLE_DATASET_FOLDER + '/geoplaces2.csv'

#Consumers
USER_CUISINE = KAGGLE_DATASET_FOLDER + '/usercuisine.csv'
USER_PAYMENT = KAGGLE_DATASET_FOLDER + '/userpayment.csv'
USER_PROFILE = KAGGLE_DATASET_FOLDER + '/userprofile.csv'

#User-Item-Rating
RATINGS = KAGGLE_DATASET_FOLDER + '/rating_final.csv'

In [ ]:
#IMPORTING DATASET

#Restaurants
res_accepts_df = pd.read_csv(ACCEPTS)
res_cuisine_df = pd.read_csv(CUISINE)
res_hours_df = pd.read_csv(HOURS)
res_parking_df = pd.read_csv(PARKING)
restaurants_df = pd.read_csv(PLACES)

#Consumers
user_cuisine_df = pd.read_csv(USER_CUISINE)
user_payment_df = pd.read_csv(USER_PAYMENT)
user_profile_df = pd.read_csv(USER_PROFILE)

#User-Item-Rating
ratings_df = pd.read_csv(RATINGS)

display(ratings_df)

## Preprocessing Data

In [ ]:
def selectUserData(cols_cuisine: List[str], cols_payment: List[str], cols_profile: List[str]):
    sub_df = user_cuisine_df.join(user_payment_df, "userID")
    sub_df = sub_df.join(user_profile_df, "userID")
    sub_df = sub_df[[x for x in cols_cuisine] + [x for x in cols_payment] + [x for x in cols_profile]].copy()
    sub_df = sub_df.replace("?", np.NaN).dropna()
    return sub_df

Lenskit expects a ratings dataframe with user item and rating columns

In [14]:
# TODO: What to do with food_rating and service rating
ratings_df['sum_column'] = ratings_df['rating'] + \
    ratings_df['food_rating'] + ratings_df['service_rating']

ratings_df=ratings_df.rename(columns={'userID':'user','placeID':'item','rating':'general_rating','sum_column':'rating'})
display(ratings_df)

       user    item  general_rating  food_rating  service_rating  rating
0     U1077  135085               2            2               2       6
1     U1077  135038               2            2               1       5
2     U1077  132825               2            2               2       6
3     U1077  135060               1            2               2       5
4     U1068  135104               1            1               2       4
...     ...     ...             ...          ...             ...     ...
1156  U1043  132630               1            1               1       3
1157  U1011  132715               1            1               0       2
1158  U1068  132733               1            1               0       2
1159  U1068  132594               1            1               1       3
1160  U1068  132660               0            0               0       0

[1161 rows x 6 columns]

#### Dropping unwanted columns

In [16]:
restaurants_df = restaurants_df[['placeID', 'latitude', 'longitude',
                                'name', 'alcohol', 'smoking_area', 'dress_code', 'price']]

user_profile_df = user_profile_df[['userID', 'latitude', 'longitude', 'smoker', 'drink_level',
                                  'dress_preference', 'marital_status', 'hijos', 'birth_year', 'activity', 'budget']]

display(restaurants_df)
display(user_profile_df)

,placeID,latitude,longitude,name,alcohol,smoking_area,dress_code,price
0,134999,18.915421,-99.184871,Kiku Cuernavaca,No_Alcohol_Served,none,informal,medium
1,132825,22.147392,-100.983092,puesto de tacos,No_Alcohol_Served,none,informal,low
2,135106,22.149709,-100.976093,El Rincï¿½n de San Francisco,Wine-Beer,only at bar,informal,medium
3,132667,23.752697,-99.163359,little pizza Emilio Portes Gil,No_Alcohol_Served,none,informal,low
4,132613,23.752903,-99.165076,carnitas_mata,No_Alcohol_Served,permitted,informal,medium
...,...,...,...,...,...,...,...,...
125,132866,22.141220,-100.931311,Chaires,No_Alcohol_Served,not permitted,informal,medium
126,135072,22.149192,-101.002936,Sushi Itto,No_Alcohol_Served,none,informal,medium
127,135109,18.921785,-99.235350,Paniroles,Wine-Beer,not permitted,informal,medium
128,135019,18.875011,-99.159422,Restaurant Bar Coty y Pablo,No_Alcohol_Served,none,informal,low
129,132877,22.135364,-100.934948,sirloin stockade,No_Alcohol_Served,none,informal,low

,userID,latitude,longitude,smoker,drink_level,dress_preference,marital_status,hijos,birth_year,activity,budget
0,U1001,22.139997,-100.978803,false,abstemious,informal,single,independent,1989,student,medium
1,U1002,22.150087,-100.983325,false,abstemious,informal,single,independent,1990,student,low
2,U1003,22.119847,-100.946527,false,social drinker,formal,single,independent,1989,student,low
3,U1004,18.867000,-99.183000,false,abstemious,informal,single,independent,1940,professional,medium
4,U1005,22.183477,-100.959891,false,abstemious,no preference,single,independent,1992,student,medium
...,...,...,...,...,...,...,...,...,...,...,...
133,U1134,22.149654,-100.998610,false,casual drinker,no preference,single,independent,1991,student,medium
134,U1135,22.170396,-100.949936,false,casual drinker,informal,single,kids,1988,student,low
135,U1136,22.149607,-100.997235,true,social drinker,no preference,single,independent,1990,student,low
136,U1137,22.144803,-100.944623,false,social drinker,formal,single,independent,1989,student,low
137,U1138,22.152884,-100.939663,false,social drinker,formal,single,independent,1991,student,medium