# This notebook handels data import and preprocessing

## Importing data

In [44]:
from we_recommend_a_grade_10.data import *

display(Ratings)

     userID  placeID  rating  food_rating  service_rating
0     U1077   135085       2            2               2
1     U1077   135038       2            2               1
2     U1077   132825       2            2               2
3     U1077   135060       1            2               2
4     U1068   135104       1            1               2
...     ...      ...     ...          ...             ...
1156  U1043   132630       1            1               1
1157  U1011   132715       1            1               0
1158  U1068   132733       1            1               0
1159  U1068   132594       1            1               1
1160  U1068   132660       0            0               0

[1161 rows x 5 columns]

## Preprocessing Data

In [45]:
display(default_user_Profile)
display(default_res_Profile)

,index,userID,latitude,longitude,smoker,drink_level,dress_preference,marital_status,hijos,birth_year,activity,budget
0,0,U1001,22.139997,-100.978803,false,abstemious,informal,single,independent,1989,student,medium
1,1,U1002,22.150087,-100.983325,false,abstemious,informal,single,independent,1990,student,low
2,2,U1003,22.119847,-100.946527,false,social drinker,formal,single,independent,1989,student,low
3,3,U1004,18.867000,-99.183000,false,abstemious,informal,single,independent,1940,professional,medium
4,4,U1005,22.183477,-100.959891,false,abstemious,no preference,single,independent,1992,student,medium
...,...,...,...,...,...,...,...,...,...,...,...,...
117,133,U1134,22.149654,-100.998610,false,casual drinker,no preference,single,independent,1991,student,medium
118,134,U1135,22.170396,-100.949936,false,casual drinker,informal,single,kids,1988,student,low
119,135,U1136,22.149607,-100.997235,true,social drinker,no preference,single,independent,1990,student,low
120,136,U1137,22.144803,-100.944623,false,social drinker,formal,single,independent,1989,student,low
121,137,U1138,22.152884,-100.939663,false,social drinker,formal,single,independent,1991,student,medium

,index,placeID,latitude,longitude,name,alcohol,smoking_area,dress_code,price
0,0,134999,18.915421,-99.184871,Kiku Cuernavaca,No_Alcohol_Served,none,informal,medium
1,1,132825,22.147392,-100.983092,puesto de tacos,No_Alcohol_Served,none,informal,low
2,2,135106,22.149709,-100.976093,El Rincï¿½n de San Francisco,Wine-Beer,only at bar,informal,medium
3,3,132667,23.752697,-99.163359,little pizza Emilio Portes Gil,No_Alcohol_Served,none,informal,low
4,4,132613,23.752903,-99.165076,carnitas_mata,No_Alcohol_Served,permitted,informal,medium
...,...,...,...,...,...,...,...,...,...
125,125,132866,22.141220,-100.931311,Chaires,No_Alcohol_Served,not permitted,informal,medium
126,126,135072,22.149192,-101.002936,Sushi Itto,No_Alcohol_Served,none,informal,medium
127,127,135109,18.921785,-99.235350,Paniroles,Wine-Beer,not permitted,informal,medium
128,128,135019,18.875011,-99.159422,Restaurant Bar Coty y Pablo,No_Alcohol_Served,none,informal,low
129,129,132877,22.135364,-100.934948,sirloin stockade,No_Alcohol_Served,none,informal,low

Lenskit expects a ratings dataframe with user item and rating columns

In [46]:
display(simple_Ratings)

       user    item  rating
0     U1077  135085       6
1     U1077  135038       5
2     U1077  132825       6
3     U1077  135060       5
4     U1068  135104       4
...     ...     ...     ...
1156  U1043  132630       3
1157  U1011  132715       2
1158  U1068  132733       2
1159  U1068  132594       3
1160  U1068  132660       0

[1161 rows x 3 columns]

## Recommender System

In [47]:
# Extended library
from lenskit.algorithms import Recommender
from lenskit.algorithms.user_knn import UserUser
from lenskit.algorithms.item_knn import ItemItem

# We use the collaborative user algorithm UserUser, that use the nearest neighbors
num_recs = 10  # Number of recommendations to generate
user_user = UserUser(15, min_nbrs=3)  # Minimum (3) and maximum (15) number of neighbors to consider
recsys = Recommender.adapt(user_user)
recsys.fit(simple_Ratings)
# generate 10 recommendations for the selected user
selected_restaurants_useruser = recsys.recommend(default_user_Profile["userID"].iloc[0], 10)
selected_restaurants_useruser = pd.merge(
    selected_restaurants_useruser, default_res_Profile, left_on='item', right_on='placeID')
display(selected_restaurants_useruser)

,item,score,index,placeID,latitude,longitude,name,alcohol,smoking_area,dress_code,price
0,135108,4.545594,56,135108,22.136253,-100.933585,Potzocalli,No_Alcohol_Served,none,informal,low
1,132723,4.543238,62,132723,22.148934,-101.019845,Gordas de morales,Full_Bar,section,informal,medium
2,135081,4.429625,61,135081,22.164842,-100.960493,El Club,No_Alcohol_Served,none,informal,medium
3,135050,4.064405,33,135050,22.174887,-100.970825,Restaurante la Estrella de Dima,Wine-Beer,none,informal,high
4,135026,3.918991,69,135026,22.148665,-101.001273,la Cantina,Full_Bar,none,informal,high
5,135066,3.911887,52,135066,22.168350,-100.972466,Restaurante Guerra,Wine-Beer,section,informal,high
6,135030,3.754146,35,135030,22.147880,-100.989472,Preambulo Wifi Zone Cafe,No_Alcohol_Served,none,informal,medium
7,135075,3.586431,108,135075,22.139573,-100.991564,Mariscos El Pescador,No_Alcohol_Served,none,informal,medium
8,135059,3.572333,47,135059,22.145108,-100.989547,Restaurant Bar Hacienda los Martinez,Wine-Beer,section,informal,medium
9,135027,2.978654,97,135027,22.147145,-100.974494,Restaurant Orizatlan,Wine-Beer,none,informal,medium

In [48]:
split_count = 6.9
ratings_per_user=simple_Ratings[['user', 'item']].groupby(['user']).count()
ratings_per_user=ratings_per_user.reset_index()
users_more_than = ratings_per_user[ratings_per_user['item'] > split_count]
display(users_more_than)

      user  item
0    U1001     9
1    U1002    10
2    U1003    13
3    U1004     8
4    U1005     9
..     ...   ...
132  U1133     9
133  U1134    16
134  U1135    14
135  U1136    10
136  U1137    14

[92 rows x 2 columns]

In [49]:
# # select a sample of int(split_count) ratings from each user in users_more_than,
# #  this is our training set
# # what remains of the ratings is the testing set
# train_set=pd.DataFrame(columns=ratings_df.columns)
# test_set = pd.DataFrame(columns=ratings_df.columns)
# for user in users_more_than.user:
#     user_ratings=ratings_df[ratings_df['user']==user]
#     sample = user_ratings.sample(int(split_count))
#     train_set = train_set.append(sample)
#     test_set = test_set.append(user_ratings.drop(sample.index))

# train_set['rating'] = train_set['rating'].astype(float)
# test_set['rating'] = test_set['rating'].astype(float)

# display(train_set.dtypes)
# display(test_set.dtypes)
# # display(sum(users_more_than.item))

In [50]:
# select a sample of int(split_count) ratings from each user in users_more_than,
#  this is our training set
# what remains of the ratings is the testing set
train_set = pd.DataFrame(columns=simple_Ratings.columns)
test_set = pd.DataFrame(columns=simple_Ratings.columns)
for user in users_more_than.user:
    user_ratings = simple_Ratings[simple_Ratings['user'] == user]
    sample_size=len(user_ratings)*0.7
    sample=user_ratings.sample(int(sample_size))
    
    train_set = train_set.append(sample)
    test_set = test_set.append(user_ratings.drop(sample.index))

train_set['rating'] = train_set['rating'].astype(float)
test_set['rating'] = test_set['rating'].astype(float)

# display(train_set.dtypes)
# display(test_set.dtypes)
# display(sum(users_more_than.item))

In [51]:
from lenskit.algorithms.bias import Bias
from lenskit.batch import predict
from lenskit.metrics.predict import user_metric, rmse

algo = Bias()
algo.fit(train_set)
preds = predict(algo, test_set)
user_metric(preds, metric=rmse)

1.5502084212069267

In [52]:
from lenskit.algorithms.bias import Bias
from lenskit.algorithms import Recommender
from lenskit.algorithms.user_knn import UserUser
from lenskit.batch import predict
from lenskit.metrics.predict import user_metric, rmse

min_nn = 3
max_nn = 15
# Minimum (3) and maximum (15) number of neighbors to consider
user_user = UserUser(max_nn, min_nbrs=min_nn)
recsys = Recommender.adapt(user_user)
algo = recsys
algo.fit(train_set)
preds = predict(algo, test_set)
user_metric(preds, metric=rmse)

1.305569280025617

In [53]:
preds

       user    item  rating  prediction
215   U1001  132830     3.0         NaN
690   U1001  135039     3.0         NaN
694   U1001  135051     4.0         NaN
1064  U1002  132825     4.0         NaN
1066  U1002  132862     6.0         NaN
...     ...     ...     ...         ...
883   U1137  132834     6.0         NaN
885   U1137  132862     6.0         NaN
886   U1137  135058     4.0         NaN
888   U1137  135062     6.0         NaN
889   U1137  132825     5.0         NaN

[324 rows x 4 columns]

In [54]:
# We use the collaborative user algorithm ItemItem, that use the nearest neighbors
num_recs = 10  # Number of recommendations to generate
item_item = ItemItem(15, min_nbrs=3)  # Minimum (3) and maximum (15) number of neighbors to consider
recsys_itemitem = Recommender.adapt(item_item)
recsys_itemitem.fit(simple_Ratings)

# generate 10 recommendations for the selected user
selected_restaurants_itemitem = recsys_itemitem.recommend(default_user_Profile["userID"].iloc[0], 10)
selected_restaurants_itemitem = pd.merge(
    selected_restaurants_itemitem, default_res_Profile, left_on='item', right_on='placeID')
display(selected_restaurants_itemitem)

,item,score,index,placeID,latitude,longitude,name,alcohol,smoking_area,dress_code,price
0,135075,6.008032,108,135075,22.139573,-100.991564,Mariscos El Pescador,No_Alcohol_Served,none,informal,medium
1,135055,5.956059,55,135055,22.148854,-101.008472,la Cochinita Pibil Restaurante Yucateco,No_Alcohol_Served,section,informal,high
2,132922,5.336616,95,132922,22.151135,-100.982311,cafe punta del cielo,No_Alcohol_Served,permitted,formal,medium
3,132723,5.121101,62,132723,22.148934,-101.019845,Gordas de morales,Full_Bar,section,informal,medium
4,135059,4.757577,47,135059,22.145108,-100.989547,Restaurant Bar Hacienda los Martinez,Wine-Beer,section,informal,medium
5,135048,4.654353,82,135048,22.142017,-100.999246,Restaurante Bar Fu-hao,Wine-Beer,none,informal,high
6,132754,4.618155,117,132754,22.147738,-100.990616,Cabana Huasteca,No_Alcohol_Served,none,informal,medium
7,135081,4.577799,61,135081,22.164842,-100.960493,El Club,No_Alcohol_Served,none,informal,medium
8,135047,4.460356,74,135047,22.150921,-100.993828,Restaurante Casa de las Flores,Wine-Beer,section,informal,high
9,135030,4.418764,35,135030,22.147880,-100.989472,Preambulo Wifi Zone Cafe,No_Alcohol_Served,none,informal,medium

## GROUP RECOMMENDATIONS
#### Average Without Misery

In [55]:
group = default_user_Profile.iloc[2:7]
display(default_user_Profile["userID"].iloc[0])

'U1001'

In [85]:
# Extended library
from lenskit.algorithms import Recommender
from lenskit.algorithms.user_knn import UserUser
from lenskit.algorithms.item_knn import ItemItem

# Minimum (3) and maximum (15) number of neighbors to consider
user_user = UserUser(15, min_nbrs=3)
recsys = Recommender.adapt(user_user)
recsys.fit(simple_Ratings)

def get_predected_ratings(user_id:str):
# We use the collaborative user algorithm UserUser, that use the nearest neighbors
    num_recs = 50  # Number of recommendations to generate
    # user_user = UserUser(None, min_nbrs=3)  # Minimum (3) and maximum (15) number of neighbors to consider
    # recsys = Recommender.adapt(user_user)
    # recsys.fit(simple_Ratings)

    selected_restaurants_useruser = recsys.recommend(user_id)
    selected_restaurants_useruser['user'] = user_id
    selected_restaurants_useruser = selected_restaurants_useruser[['user','item','score']]
    return selected_restaurants_useruser


item_item = ItemItem(15, min_nbrs=3)  # Minimum (3) and maximum (15) number of neighbors to consider
recsys_itemitem = Recommender.adapt(item_item)
recsys_itemitem.fit(simple_Ratings)

def get_predected_ratings_item(user_id: str):
    # We use the collaborative user algorithm UserUser, that use the nearest neighbors
    num_recs = 50  # Number of recommendations to generate
    # user_user = UserUser(None, min_nbrs=3)  # Minimum (3) and maximum (15) number of neighbors to consider
    # recsys = Recommender.adapt(user_user)
    # recsys.fit(simple_Ratings)

    selected_restaurants_useruser = recsys_itemitem.recommend(user_id)
    selected_restaurants_useruser['user'] = user_id
    selected_restaurants_useruser = selected_restaurants_useruser[['user', 'item', 'score']]
    return selected_restaurants_useruser


def average_without_misery(rat):
    conti = True
    thres = 6
    while conti:
        ratings = rat
        # ratings = ratings.drop(ratings[ratings.score < thres].index)
        # display(thres)

        test = ratings.pivot(index='item', columns='user', values='score').dropna()

        test['mean'] = test.mean(1)
        if len(test) > 0:
            conti = False
        else:
            thres = thres - 1

        if thres == 0:
            break

    return test, thres

In [57]:
ratings = pd.DataFrame(columns=['user','item','score'])
group_size = len(group.userID)
for user in group.userID:
    # This here has to be the recommender algorithm, given a userID it returns recommendations with predicted ratings
    temp=get_predected_ratings(user)
    # display(temp)
    ratings=ratings.append(temp)
    rated_items=simple_Ratings[simple_Ratings['user'] == user]
    rated_items = rated_items.rename(columns={"rating": "score"})
    ratings = ratings.append(rated_items)



ratings = ratings.reset_index(drop=True)

"""
PlaceID Number of user Rated
ahfjhasjfhak 3/5

"""

test, thres = average_without_misery(rat=ratings)
display(test)
t2 = pd.merge(test, default_res_Profile, left_on='item', right_on='placeID')
display(t2)
display(len(test))
thres

user       U1003     U1004     U1005     U1006     U1007      mean
item
135025  5.823489  6.332990  4.368716  5.065468  3.000000  4.918132
135030  5.016538  5.563444  3.899336  4.000000  3.758190  4.447502
135075  6.000000  6.361904  4.991723  4.000000  3.421291  4.954983

,U1003,U1004,U1005,U1006,U1007,mean,index,placeID,latitude,longitude,name,alcohol,smoking_area,dress_code,price
0,5.823489,6.332990,4.368716,5.065468,3.000000,4.918132,34,135025,22.149550,-100.977970,El Rincon de San Francisco,No_Alcohol_Served,none,informal,medium
1,5.016538,5.563444,3.899336,4.000000,3.758190,4.447502,35,135030,22.147880,-100.989472,Preambulo Wifi Zone Cafe,No_Alcohol_Served,none,informal,medium
2,6.000000,6.361904,4.991723,4.000000,3.421291,4.954983,108,135075,22.139573,-100.991564,Mariscos El Pescador,No_Alcohol_Served,none,informal,medium

3

3

In [58]:
def rated_by_x_users(ratings, group_size):
    dict = {}
    userIDs = ratings.columns[:5]
    for item in ratings['placeID']:
        count = 0
        item_ratings = simple_Ratings[simple_Ratings['item'] == item]
        for user in userIDs:
            user_count = len(item_ratings[item_ratings['user'] == user])
            count = count + user_count
            count = count / group_size
            
        dict[item] = count
    #FOR TESTING
    # dict[ratings['placeID'][0]] = 0.7
    # dict[ratings['placeID'][1]] = 0.5
    return dict


def group_explanation(ratings, group_size,thres):
    raitngs_per_item = rated_by_x_users(ratings, group_size)
    explanation_per_item={}
    for item in ratings['placeID']:
        text=""
        perc = raitngs_per_item[item]
        if thres>=4:
            text = text + "This restaurant was recommended because everybody is likely to like it, "
        elif thres >= 2:
            text = text + "This restaurant was recommended because nobody is likely to dislike it, "
        else:
            text = text + "This restaurant was recommended because only X people are likely to dislike it, "

        if perc >= 0.66:
            text = text + "whereas this restaurant is positively rated by the majority of the group"
        elif perc >= 0.33:
            text = text + "whereas this restaurant is positively rated by a portion of the group"
        else:
            text = text + "whereas this restaurant is predicted to be most liked by the group as a whole"
        explanation_per_item[item]=text
    return explanation_per_item

In [59]:
group_explanation(t2, group_size,thres)

{135025: 'This restaurant was recommended because nobody is likely to dislike it, whereas this restaurant is predicted to be most liked by the group as a whole',
 135030: 'This restaurant was recommended because nobody is likely to dislike it, whereas this restaurant is predicted to be most liked by the group as a whole',
 135075: 'This restaurant was recommended because nobody is likely to dislike it, whereas this restaurant is predicted to be most liked by the group as a whole'}

# Evaluating Group Shit

In [114]:
Groups=[
    ['U1050', 'U1067', 'U1082', 'U1087'],
    ['U1026', 'U1065', 'U1129', 'U1130'],
    ['U1011', 'U1039', 'U1060', 'U1080'],
    ['U1006', 'U1007', 'U1013', 'U1033'],
    ['U1046', 'U1055', 'U1061', 'U1073'],
    ['U1083', 'U1090', 'U1091', 'U1092'],
    ['U1092', 'U1108', 'U1112', 'U1134'],
    ['U1006', 'U1046', 'U1083', 'U1092'],
    ['U1007', 'U1055', 'U1090', 'U1108'],
    ['U1013', 'U1061', 'U1091', 'U1112'],
    ['U1033', 'U1073', 'U1092', 'U1134'],
    ['U1035', 'U1044', 'U1118', 'U1119']
]

Test_Set_Items_users={
    132560: ['U1050', 'U1067', 'U1082', 'U1087'],
    132732: ['U1050', 'U1067', 'U1082', 'U1087'],
    132561: ['U1026', 'U1065', 'U1129', 'U1130'],
    132654: ['U1026', 'U1065', 'U1129', 'U1130'],
    132706: ['U1026', 'U1065', 'U1129', 'U1130'],
    132564: ['U1011', 'U1039', 'U1060', 'U1080'],
    132572: ['U1006', 'U1007', 'U1013', 'U1033'],
    132572: ['U1046', 'U1055', 'U1061', 'U1073'],
    132572: ['U1083', 'U1090', 'U1091', 'U1092'],
    132572: ['U1092', 'U1108', 'U1112', 'U1134'],
    132572: ['U1006', 'U1046', 'U1083', 'U1092'],
    132572: ['U1006', 'U1046', 'U1083', 'U1092'],
    132572: ['U1007', 'U1055', 'U1090', 'U1108'],
    132572: ['U1013', 'U1061', 'U1091', 'U1112'],
    132572: ['U1033', 'U1073', 'U1092', 'U1134'],
    132583: ['U1035', 'U1044', 'U1118', 'U1119'],
    132723: ['U1061', 'U1083', 'U1092', 'U1108']
}

In [115]:
test_set=pd.DataFrame(columns=simple_Ratings.columns)

for item in Test_Set_Items_users.keys():
    for user in Test_Set_Items_users[item]:
        a = simple_Ratings[simple_Ratings['user'] == user]
        b = a[a['item'] == item]
        # display(b)
        test_set=test_set.append(b)

train_set=simple_Ratings.drop(test_set.index)

In [116]:
from lenskit.algorithms.bias import Bias
from lenskit.batch import predict
from lenskit.metrics.predict import user_metric, rmse

algo = Bias()
algo.fit(train_set)
preds = predict(algo, test_set)
# user_metric(preds, metric=rmse)

In [117]:

sample_groups = {}
i=100
for g in Groups:
    i=i+1
    sample_groups[i] = g

sample_groups

{101: ['U1050', 'U1067', 'U1082', 'U1087'],
 102: ['U1026', 'U1065', 'U1129', 'U1130'],
 103: ['U1011', 'U1039', 'U1060', 'U1080'],
 104: ['U1006', 'U1007', 'U1013', 'U1033'],
 105: ['U1046', 'U1055', 'U1061', 'U1073'],
 106: ['U1083', 'U1090', 'U1091', 'U1092'],
 107: ['U1092', 'U1108', 'U1112', 'U1134'],
 108: ['U1006', 'U1046', 'U1083', 'U1092'],
 109: ['U1007', 'U1055', 'U1090', 'U1108'],
 110: ['U1013', 'U1061', 'U1091', 'U1112'],
 111: ['U1033', 'U1073', 'U1092', 'U1134'],
 112: ['U1035', 'U1044', 'U1118', 'U1119']}

In [111]:
predss = pd.DataFrame(columns=['user', 'item', 'rating', 'prediction'])
for i in sample_groups.keys():
    group = sample_groups[i]
    ratings_t = pd.DataFrame(columns=['user', 'item', 'score'])
    ratings_p = pd.DataFrame(columns=['user', 'item', 'score'])
    group_size = len(group)
    for user in group:
        # This here has to be the recommender algorithm, given a userID it returns recommendations with predicted ratings
        temp = preds[preds.user == user]
        # display(temp)
        ratings_true = temp[['user', 'item', 'rating']]
        ratings_pred = temp[['user', 'item', 'prediction']]

        ratings_true = ratings_true.rename(columns={"rating": "score"})
        ratings_pred = ratings_pred.rename(columns={"prediction": "score"})

        ratings_t = ratings_t.append(ratings_true)
        ratings_p = ratings_p.append(ratings_pred)

    ratings_t = ratings_t.reset_index(drop=True)
    ratings_p = ratings_p.reset_index(drop=True)

    test, thres = average_without_misery(rat=ratings_t)
    test1, thres1 = average_without_misery(rat=ratings_p)

    test= pd.merge(test, default_res_Profile, left_on='item', right_on='placeID')
    test1 = pd.merge(test1, default_res_Profile, left_on='item', right_on='placeID')
    
    test = test.rename(columns={"mean": "rating", "placeID": "item"})
    test1 = test1.rename(columns={"mean": "prediction", "placeID": "item"})
    
    test['user'] = i
    test1['user'] = i
    
    test=test[['item','rating']]
    test1 = test1[['item', 'prediction']]

    pred_temp = pd.merge(test, test1, left_on='item', right_on='item')

    pred_temp['user'] = i
    pred_temps=pred_temp[['user', 'item', 'rating', 'prediction']]
    predss=predss.append(pred_temps)
    break

test

# display(test)
# t2 = pd.merge(test, default_res_Profile, left_on='item', right_on='placeID')
# display(t2)
# display(len(test))
# thres

     item  rating
0  132560    1.75
1  132732    3.00

In [112]:
pred_temps

   user    item  rating  prediction
0   101  132560    1.75    2.471292
1   101  132732    3.00    0.936181

In [113]:

predss

Empty DataFrame
Columns: [user, item, rating, prediction]
Index: []