# This notebook handels data import and preprocessing

## Importing data

In [2]:
from we_recommend_a_grade_10.data import *

display(Ratings)

     userID  placeID  rating  food_rating  service_rating
0     U1077   135085       2            2               2
1     U1077   135038       2            2               1
2     U1077   132825       2            2               2
3     U1077   135060       1            2               2
4     U1068   135104       1            1               2
...     ...      ...     ...          ...             ...
1156  U1043   132630       1            1               1
1157  U1011   132715       1            1               0
1158  U1068   132733       1            1               0
1159  U1068   132594       1            1               1
1160  U1068   132660       0            0               0

[1161 rows x 5 columns]

## Preprocessing Data

In [3]:
display(default_user_Profile)
display(default_res_Profile)

,index,userID,latitude,longitude,smoker,drink_level,dress_preference,marital_status,hijos,birth_year,activity,budget
0,0,U1001,22.139997,-100.978803,false,abstemious,informal,single,independent,1989,student,medium
1,1,U1002,22.150087,-100.983325,false,abstemious,informal,single,independent,1990,student,low
2,2,U1003,22.119847,-100.946527,false,social drinker,formal,single,independent,1989,student,low
3,3,U1004,18.867000,-99.183000,false,abstemious,informal,single,independent,1940,professional,medium
4,4,U1005,22.183477,-100.959891,false,abstemious,no preference,single,independent,1992,student,medium
...,...,...,...,...,...,...,...,...,...,...,...,...
117,133,U1134,22.149654,-100.998610,false,casual drinker,no preference,single,independent,1991,student,medium
118,134,U1135,22.170396,-100.949936,false,casual drinker,informal,single,kids,1988,student,low
119,135,U1136,22.149607,-100.997235,true,social drinker,no preference,single,independent,1990,student,low
120,136,U1137,22.144803,-100.944623,false,social drinker,formal,single,independent,1989,student,low
121,137,U1138,22.152884,-100.939663,false,social drinker,formal,single,independent,1991,student,medium

,index,placeID,latitude,longitude,name,alcohol,smoking_area,dress_code,price
0,0,134999,18.915421,-99.184871,Kiku Cuernavaca,No_Alcohol_Served,none,informal,medium
1,1,132825,22.147392,-100.983092,puesto de tacos,No_Alcohol_Served,none,informal,low
2,2,135106,22.149709,-100.976093,El Rinc�n de San Francisco,Wine-Beer,only at bar,informal,medium
3,3,132667,23.752697,-99.163359,little pizza Emilio Portes Gil,No_Alcohol_Served,none,informal,low
4,4,132613,23.752903,-99.165076,carnitas_mata,No_Alcohol_Served,permitted,informal,medium
...,...,...,...,...,...,...,...,...,...
125,125,132866,22.141220,-100.931311,Chaires,No_Alcohol_Served,not permitted,informal,medium
126,126,135072,22.149192,-101.002936,Sushi Itto,No_Alcohol_Served,none,informal,medium
127,127,135109,18.921785,-99.235350,Paniroles,Wine-Beer,not permitted,informal,medium
128,128,135019,18.875011,-99.159422,Restaurant Bar Coty y Pablo,No_Alcohol_Served,none,informal,low
129,129,132877,22.135364,-100.934948,sirloin stockade,No_Alcohol_Served,none,informal,low

Lenskit expects a ratings dataframe with user item and rating columns

In [4]:
display(simple_Ratings)

       user    item  rating
0     U1077  135085       6
1     U1077  135038       5
2     U1077  132825       6
3     U1077  135060       5
4     U1068  135104       4
...     ...     ...     ...
1156  U1043  132630       3
1157  U1011  132715       2
1158  U1068  132733       2
1159  U1068  132594       3
1160  U1068  132660       0

[1161 rows x 3 columns]

## Recommender System

In [5]:
# Extended library
from lenskit.algorithms import Recommender
from lenskit.algorithms.user_knn import UserUser
from lenskit.algorithms.item_knn import ItemItem

# We use the collaborative user algorithm UserUser, that use the nearest neighbors
num_recs = 10  # Number of recommendations to generate
user_user = UserUser(15, min_nbrs=3)  # Minimum (3) and maximum (15) number of neighbors to consider
recsys = Recommender.adapt(user_user)
recsys.fit(simple_Ratings)
# generate 10 recommendations for the selected user
selected_restaurants_useruser = recsys.recommend(default_user_Profile["userID"].iloc[0], 10)
selected_restaurants_useruser = pd.merge(
    selected_restaurants_useruser, default_res_Profile, left_on='item', right_on='placeID')
display(selected_restaurants_useruser)

could not load LIBBLAS: Could not find module 'libblas' (or one of its dependencies). Try using the full path with constructor syntax.
Numba is using threading layer omp - consider TBB
found 1 potential runtime problems - see https://boi.st/lkpy-perf

,item,score,index,placeID,latitude,longitude,name,alcohol,smoking_area,dress_code,price
0,135108,4.545594,56,135108,22.136253,-100.933585,Potzocalli,No_Alcohol_Served,none,informal,low
1,132723,4.543238,62,132723,22.148934,-101.019845,Gordas de morales,Full_Bar,section,informal,medium
2,135081,4.429625,61,135081,22.164842,-100.960493,El Club,No_Alcohol_Served,none,informal,medium
3,135050,4.064405,33,135050,22.174887,-100.970825,Restaurante la Estrella de Dima,Wine-Beer,none,informal,high
4,135026,3.918991,69,135026,22.148665,-101.001273,la Cantina,Full_Bar,none,informal,high
5,135066,3.911887,52,135066,22.168350,-100.972466,Restaurante Guerra,Wine-Beer,section,informal,high
6,135030,3.754146,35,135030,22.147880,-100.989472,Preambulo Wifi Zone Cafe,No_Alcohol_Served,none,informal,medium
7,135075,3.586431,108,135075,22.139573,-100.991564,Mariscos El Pescador,No_Alcohol_Served,none,informal,medium
8,135059,3.572333,47,135059,22.145108,-100.989547,Restaurant Bar Hacienda los Martinez,Wine-Beer,section,informal,medium
9,135027,2.978654,97,135027,22.147145,-100.974494,Restaurant Orizatlan,Wine-Beer,none,informal,medium

In [8]:
split_count = 6.9
ratings_per_user=simple_Ratings[['user', 'item']].groupby(['user']).count()
ratings_per_user=ratings_per_user.reset_index()
users_more_than = ratings_per_user[ratings_per_user['item'] > split_count]
display(users_more_than)

      user  item
0    U1001     9
1    U1002    10
2    U1003    13
3    U1004     8
4    U1005     9
..     ...   ...
132  U1133     9
133  U1134    16
134  U1135    14
135  U1136    10
136  U1137    14

[92 rows x 2 columns]

In [9]:
# # select a sample of int(split_count) ratings from each user in users_more_than,
# #  this is our training set
# # what remains of the ratings is the testing set
# train_set=pd.DataFrame(columns=ratings_df.columns)
# test_set = pd.DataFrame(columns=ratings_df.columns)
# for user in users_more_than.user:
#     user_ratings=ratings_df[ratings_df['user']==user]
#     sample = user_ratings.sample(int(split_count))
#     train_set = train_set.append(sample)
#     test_set = test_set.append(user_ratings.drop(sample.index))

# train_set['rating'] = train_set['rating'].astype(float)
# test_set['rating'] = test_set['rating'].astype(float)

# display(train_set.dtypes)
# display(test_set.dtypes)
# # display(sum(users_more_than.item))

In [14]:
# select a sample of int(split_count) ratings from each user in users_more_than,
#  this is our training set
# what remains of the ratings is the testing set
train_set = pd.DataFrame(columns=simple_Ratings.columns)
test_set = pd.DataFrame(columns=simple_Ratings.columns)
for user in users_more_than.user:
    user_ratings = simple_Ratings[simple_Ratings['user'] == user]
    sample_size=len(user_ratings)*0.7
    sample=user_ratings.sample(int(sample_size))
    
    train_set = train_set.append(sample)
    test_set = test_set.append(user_ratings.drop(sample.index))

train_set['rating'] = train_set['rating'].astype(float)
test_set['rating'] = test_set['rating'].astype(float)

# display(train_set.dtypes)
# display(test_set.dtypes)
# display(sum(users_more_than.item))

In [11]:
from lenskit.algorithms.bias import Bias
from lenskit.batch import predict
from lenskit.metrics.predict import user_metric, rmse

algo = Bias()
algo.fit(train_set)
preds = predict(algo, test_set)
user_metric(preds, metric=rmse)

1.6932893659239059

In [12]:
from lenskit.algorithms.bias import Bias
from lenskit.algorithms import Recommender
from lenskit.algorithms.user_knn import UserUser
from lenskit.batch import predict
from lenskit.metrics.predict import user_metric, rmse

min_nn = 3
max_nn = 15
# Minimum (3) and maximum (15) number of neighbors to consider
user_user = UserUser(max_nn, min_nbrs=min_nn)
recsys = Recommender.adapt(user_user)
algo = recsys
algo.fit(train_set)
preds = predict(algo, test_set)
user_metric(preds, metric=rmse)

1.4756956735691953

In [13]:
# We use the collaborative user algorithm ItemItem, that use the nearest neighbors
num_recs = 10  # Number of recommendations to generate
item_item = ItemItem(15, min_nbrs=3)  # Minimum (3) and maximum (15) number of neighbors to consider
recsys_itemitem = Recommender.adapt(item_item)
recsys_itemitem.fit(simple_Ratings)

# generate 10 recommendations for the selected user
selected_restaurants_itemitem = recsys_itemitem.recommend(default_user_Profile["userID"].iloc[0], 10)
selected_restaurants_itemitem = pd.merge(
    selected_restaurants_itemitem, default_res_Profile, left_on='item', right_on='placeID')
display(selected_restaurants_itemitem)

C:\Users\husam\anaconda3\envs\baseaLI\lib\site-packages\lenskit\algorithms\item_knn.py:119: NumbaTypeSafetyWarning: unsafe cast from uint64 to int64. Precision may be lost.
  b = blocks[bi]

,item,score,index,placeID,latitude,longitude,name,alcohol,smoking_area,dress_code,price
0,135075,6.008032,108,135075,22.139573,-100.991564,Mariscos El Pescador,No_Alcohol_Served,none,informal,medium
1,135055,5.956059,55,135055,22.148854,-101.008472,la Cochinita Pibil Restaurante Yucateco,No_Alcohol_Served,section,informal,high
2,132922,5.336616,95,132922,22.151135,-100.982311,cafe punta del cielo,No_Alcohol_Served,permitted,formal,medium
3,132723,5.121101,62,132723,22.148934,-101.019845,Gordas de morales,Full_Bar,section,informal,medium
4,135059,4.757577,47,135059,22.145108,-100.989547,Restaurant Bar Hacienda los Martinez,Wine-Beer,section,informal,medium
5,135048,4.654353,82,135048,22.142017,-100.999246,Restaurante Bar Fu-hao,Wine-Beer,none,informal,high
6,132754,4.618155,117,132754,22.147738,-100.990616,Cabana Huasteca,No_Alcohol_Served,none,informal,medium
7,135081,4.577799,61,135081,22.164842,-100.960493,El Club,No_Alcohol_Served,none,informal,medium
8,135047,4.460356,74,135047,22.150921,-100.993828,Restaurante Casa de las Flores,Wine-Beer,section,informal,high
9,135030,4.418764,35,135030,22.147880,-100.989472,Preambulo Wifi Zone Cafe,No_Alcohol_Served,none,informal,medium

## GROUP RECOMMENDATIONS
Least Misery

In [76]:
group = default_user_Profile.iloc[0:5]
display(default_user_Profile["userID"].iloc[0])

'U1001'

In [86]:
# Extended library
from lenskit.algorithms import Recommender
from lenskit.algorithms.user_knn import UserUser
from lenskit.algorithms.item_knn import ItemItem


def get_predected_ratings(user_id:str):
# We use the collaborative user algorithm UserUser, that use the nearest neighbors
    num_recs = len(default_res_Profile)  # Number of recommendations to generate
    user_user = UserUser(15, min_nbrs=3)  # Minimum (3) and maximum (15) number of neighbors to consider
    recsys = Recommender.adapt(user_user)
    recsys.fit(simple_Ratings)

    # generate 10 recommendations for the selected user
    selected_restaurants_useruser = recsys.recommend(user_id, num_recs)
    selected_restaurants_useruser['user'] = user_id
    selected_restaurants_useruser = selected_restaurants_useruser[['user','item','score']]
    return selected_restaurants_useruser

In [97]:
ratings = pd.DataFrame(columns=['user','item','score'])
for user in group.userID:
    ratings=ratings.append(get_predected_ratings(user))
    rated_items=simple_Ratings[simple_Ratings['user'] == user]
    rated_items = rated_items.rename(columns={"rating": "score"})

ratings = ratings.reset_index(drop=True)
display(ratings)

      user    item     score  rating
0    U1001  135108  4.545594     NaN
1    U1001  132723  4.543238     NaN
2    U1001  135081  4.429625     NaN
3    U1001  135050  4.064405     NaN
4    U1001  135026  3.918991     NaN
..     ...     ...       ...     ...
110  U1005  135041       NaN     3.0
111  U1005  135057       NaN     4.0
112  U1005  135043       NaN     2.0
113  U1005  135042       NaN     5.0
114  U1005  135032       NaN     5.0

[115 rows x 4 columns]

In [98]:
test=ratings.pivot(index='item', columns='user', values='score')

test['mean'] = test.mean(1)
display(test)
# t2 = pd.merge(test, default_res_Profile, left_on='item', right_on='placeID')
# display(t2)
# len(test)

user       U1001     U1002     U1003     U1004     U1005      mean
item
132723  4.543238  3.882237       NaN       NaN  4.549959  4.325145
132754       NaN  4.510910       NaN  5.932811       NaN  5.221860
132755       NaN       NaN       NaN       NaN       NaN       NaN
132825       NaN       NaN       NaN       NaN       NaN       NaN
132830       NaN       NaN       NaN       NaN       NaN       NaN
132861       NaN  4.228874  3.010258       NaN       NaN  3.619566
132862       NaN       NaN       NaN       NaN       NaN       NaN
132885       NaN  1.768017       NaN       NaN       NaN  1.768017
132921       NaN       NaN       NaN       NaN       NaN       NaN
132922       NaN  4.666551       NaN       NaN       NaN  4.666551
132925       NaN       NaN       NaN       NaN       NaN       NaN
132937       NaN       NaN       NaN       NaN       NaN       NaN
132954       NaN       NaN       NaN       NaN       NaN       NaN
132955       NaN       NaN       NaN       NaN       NaN       NaN
132958       NaN       NaN       NaN       NaN       NaN       NaN
135025       NaN  5.600715  5.823489  6.332990  4.368716  5.531477
135026  3.918991  4.851064       NaN  6.485330       NaN  5.085128
135027  2.978654       NaN  5.395351  4.628768  3.333398  4.084042
135028       NaN       NaN       NaN       NaN       NaN       NaN
135030  3.754146  5.034351  5.016538  5.563444  3.899336  4.653563
135032       NaN       NaN       NaN       NaN       NaN       NaN
135033       NaN       NaN       NaN       NaN       NaN       NaN
135035       NaN       NaN  5.568061       NaN       NaN  5.568061
135039       NaN       NaN       NaN       NaN       NaN       NaN
135040       NaN       NaN       NaN       NaN       NaN       NaN
135041       NaN       NaN       NaN       NaN       NaN       NaN
135042       NaN       NaN       NaN       NaN       NaN       NaN
135043  2.944941  3.288919       NaN  4.534863       NaN  3.589574
135045       NaN       NaN       NaN       NaN       NaN       NaN
135046  2.111960  3.376351  5.501056  5.513656       NaN  4.125756
135047       NaN  1.954949       NaN       NaN       NaN  1.954949
135048       NaN       NaN  4.519836  5.803813       NaN  5.161825
135050  4.064405  4.664830  6.282697  6.008449       NaN  5.255095
135051       NaN       NaN       NaN       NaN       NaN       NaN
135052       NaN       NaN       NaN       NaN       NaN       NaN
135055       NaN  4.828717  5.820967       NaN       NaN  5.324842
135057       NaN       NaN       NaN       NaN       NaN       NaN
135059  3.572333       NaN       NaN       NaN  4.071111  3.821722
135060       NaN       NaN       NaN       NaN       NaN       NaN
135062       NaN       NaN       NaN       NaN       NaN       NaN
135064       NaN       NaN       NaN       NaN       NaN       NaN
135066  3.911887  4.773370  4.567104  5.234966       NaN  4.621832
135070       NaN       NaN       NaN       NaN  4.638643  4.638643
135072       NaN  2.793587  4.171051  5.281941       NaN  4.082193
135073       NaN       NaN       NaN       NaN  3.618011  3.618011
135075  3.586431  4.780035       NaN  6.361904  4.991723  4.930023
135076       NaN       NaN       NaN       NaN       NaN       NaN
135079       NaN       NaN       NaN       NaN       NaN       NaN
135080       NaN       NaN       NaN       NaN       NaN       NaN
135081  4.429625  4.125360  5.219089  4.999709  4.082718  4.571300
135082       NaN       NaN       NaN       NaN  5.853494  5.853494
135085       NaN       NaN       NaN       NaN       NaN       NaN
135106       NaN       NaN       NaN       NaN       NaN       NaN
135108  4.545594       NaN       NaN  6.191691  4.363312  5.033532

In [ ]:
t2 = pd.merge(test, default_res_Profile, left_on='item', right_on='placeID')
display(t2)
len(test)

In [96]:
simple_Ratings[simple_Ratings['user']== 'U1077']

      user    item  rating
0    U1077  135085       6
1    U1077  135038       5
2    U1077  132825       6
3    U1077  135060       5
433  U1077  135027       2