# This notebook handels data import and preprocessing

## Importing data

In [9]:
from typing import List

from IPython.core.display import display
from we_recommend_a_grade_10.data import *

display(Ratings)

     userID  placeID  rating  food_rating  service_rating
0     U1077   135085       2            2               2
1     U1077   135038       2            2               1
2     U1077   132825       2            2               2
3     U1077   135060       1            2               2
4     U1068   135104       1            1               2
...     ...      ...     ...          ...             ...
1156  U1043   132630       1            1               1
1157  U1011   132715       1            1               0
1158  U1068   132733       1            1               0
1159  U1068   132594       1            1               1
1160  U1068   132660       0            0               0

[1161 rows x 5 columns]

## Preprocessing Data

In [4]:
display(default_user_Profile)
display(default_res_Profile)

,index,userID,latitude,longitude,smoker,drink_level,dress_preference,marital_status,hijos,birth_year,activity,budget
0,0,U1001,22.139997,-100.978803,false,abstemious,informal,single,independent,1989,student,medium
1,1,U1002,22.150087,-100.983325,false,abstemious,informal,single,independent,1990,student,low
2,2,U1003,22.119847,-100.946527,false,social drinker,formal,single,independent,1989,student,low
3,3,U1004,18.867000,-99.183000,false,abstemious,informal,single,independent,1940,professional,medium
4,4,U1005,22.183477,-100.959891,false,abstemious,no preference,single,independent,1992,student,medium
...,...,...,...,...,...,...,...,...,...,...,...,...
117,133,U1134,22.149654,-100.998610,false,casual drinker,no preference,single,independent,1991,student,medium
118,134,U1135,22.170396,-100.949936,false,casual drinker,informal,single,kids,1988,student,low
119,135,U1136,22.149607,-100.997235,true,social drinker,no preference,single,independent,1990,student,low
120,136,U1137,22.144803,-100.944623,false,social drinker,formal,single,independent,1989,student,low
121,137,U1138,22.152884,-100.939663,false,social drinker,formal,single,independent,1991,student,medium

,index,placeID,latitude,longitude,name,alcohol,smoking_area,dress_code,price
0,0,134999,18.915421,-99.184871,Kiku Cuernavaca,No_Alcohol_Served,none,informal,medium
1,1,132825,22.147392,-100.983092,puesto de tacos,No_Alcohol_Served,none,informal,low
2,2,135106,22.149709,-100.976093,El Rincï¿½n de San Francisco,Wine-Beer,only at bar,informal,medium
3,3,132667,23.752697,-99.163359,little pizza Emilio Portes Gil,No_Alcohol_Served,none,informal,low
4,4,132613,23.752903,-99.165076,carnitas_mata,No_Alcohol_Served,permitted,informal,medium
...,...,...,...,...,...,...,...,...,...
125,125,132866,22.141220,-100.931311,Chaires,No_Alcohol_Served,not permitted,informal,medium
126,126,135072,22.149192,-101.002936,Sushi Itto,No_Alcohol_Served,none,informal,medium
127,127,135109,18.921785,-99.235350,Paniroles,Wine-Beer,not permitted,informal,medium
128,128,135019,18.875011,-99.159422,Restaurant Bar Coty y Pablo,No_Alcohol_Served,none,informal,low
129,129,132877,22.135364,-100.934948,sirloin stockade,No_Alcohol_Served,none,informal,low

Lenskit expects a ratings dataframe with user item and rating columns

In [6]:
display(simple_Ratings)

       user    item  rating
0     U1077  135085       6
1     U1077  135038       5
2     U1077  132825       6
3     U1077  135060       5
4     U1068  135104       4
...     ...     ...     ...
1156  U1043  132630       3
1157  U1011  132715       2
1158  U1068  132733       2
1159  U1068  132594       3
1160  U1068  132660       0

[1161 rows x 3 columns]

## Recommender System

In [7]:
# Extended library
from lenskit.algorithms import Recommender
from lenskit.algorithms.user_knn import UserUser
from lenskit.algorithms.item_knn import ItemItem

# We use the collaborative user algorithm UserUser, that use the nearest neighbors
num_recs = 10  # Number of recommendations to generate
user_user = UserUser(15, min_nbrs=3)  # Minimum (3) and maximum (15) number of neighbors to consider
recsys = Recommender.adapt(user_user)
recsys.fit(simple_Ratings)
# generate 10 recommendations for the selected user
selected_restaurants_useruser = recsys.recommend(default_user_Profile["userID"].iloc[0], 10)
selected_restaurants_useruser = pd.merge(
    selected_restaurants_useruser, default_res_Profile, left_on='item', right_on='placeID')
display(selected_restaurants_useruser)

could not load LIBBLAS: Could not find module 'libblas' (or one of its dependencies). Try using the full path with constructor syntax.
Numba is using threading layer omp - consider TBB
found 1 potential runtime problems - see https://boi.st/lkpy-perf

,item,score,index,placeID,latitude,longitude,name,alcohol,smoking_area,dress_code,price
0,135108,4.545594,56,135108,22.136253,-100.933585,Potzocalli,No_Alcohol_Served,none,informal,low
1,132723,4.543238,62,132723,22.148934,-101.019845,Gordas de morales,Full_Bar,section,informal,medium
2,135081,4.429625,61,135081,22.164842,-100.960493,El Club,No_Alcohol_Served,none,informal,medium
3,135050,4.064405,33,135050,22.174887,-100.970825,Restaurante la Estrella de Dima,Wine-Beer,none,informal,high
4,135026,3.918991,69,135026,22.148665,-101.001273,la Cantina,Full_Bar,none,informal,high
5,135066,3.911887,52,135066,22.168350,-100.972466,Restaurante Guerra,Wine-Beer,section,informal,high
6,135030,3.754146,35,135030,22.147880,-100.989472,Preambulo Wifi Zone Cafe,No_Alcohol_Served,none,informal,medium
7,135075,3.586431,108,135075,22.139573,-100.991564,Mariscos El Pescador,No_Alcohol_Served,none,informal,medium
8,135059,3.572333,47,135059,22.145108,-100.989547,Restaurant Bar Hacienda los Martinez,Wine-Beer,section,informal,medium
9,135027,2.978654,97,135027,22.147145,-100.974494,Restaurant Orizatlan,Wine-Beer,none,informal,medium

In [ ]:
# tt=pd.merge(ratings_df[(ratings_df["user"] == dfu["userID"].iloc[0])],dfr,left_on='item',right_on='placeID')
# pd.merge(tt,res_cuisine_df,how='left',on='placeID')

In [ ]:


selected_restaurants_useruser = recsys.recommend(default_user_Profile["userID"].iloc[0], 10)
selected_restaurants_useruser = pd.merge(
    selected_restaurants_useruser, default_res_Profile, left_on='item', right_on='placeID')
display(selected_restaurants_useruser)

In [ ]:
split_count = 6.9
ratings_per_user=simple_Ratings[['user', 'item']].groupby(['user']).count()
ratings_per_user=ratings_per_user.reset_index()
users_more_than = ratings_per_user[ratings_per_user['item'] > split_count]
display(users_more_than)

In [ ]:
# # select a sample of int(split_count) ratings from each user in users_more_than,
# #  this is our training set
# # what remains of the ratings is the testing set
# train_set=pd.DataFrame(columns=ratings_df.columns)
# test_set = pd.DataFrame(columns=ratings_df.columns)
# for user in users_more_than.user:
#     user_ratings=ratings_df[ratings_df['user']==user]
#     sample = user_ratings.sample(int(split_count))
#     train_set = train_set.append(sample)
#     test_set = test_set.append(user_ratings.drop(sample.index))

# train_set['rating'] = train_set['rating'].astype(float)
# test_set['rating'] = test_set['rating'].astype(float)

# display(train_set.dtypes)
# display(test_set.dtypes)
# # display(sum(users_more_than.item))

In [ ]:
# select a sample of int(split_count) ratings from each user in users_more_than,
#  this is our training set
# what remains of the ratings is the testing set
train_set = pd.DataFrame(columns=simple_Ratings.columns)
test_set = pd.DataFrame(columns=simple_Ratings.columns)
for user in users_more_than.user:
    user_ratings = simple_Ratings[simple_Ratings['user'] == user]
    sample_size=len(user_ratings)*0.7
    sample=user_ratings.sample(int(sample_size))

    train_set = train_set.append(sample)
    test_set = test_set.append(user_ratings.drop(sample.index))

train_set['rating'] = train_set['rating'].astype(float)
test_set['rating'] = test_set['rating'].astype(float)

# display(train_set.dtypes)
# display(test_set.dtypes)
# display(sum(users_more_than.item))

In [ ]:
from lenskit.algorithms.bias import Bias
from lenskit.batch import predict
from lenskit.metrics.predict import user_metric, rmse

algo = Bias()
algo.fit(train_set)
preds = predict(algo, test_set)
user_metric(preds, metric=rmse)

In [ ]:
from lenskit.algorithms.bias import Bias
from lenskit.algorithms import Recommender
from lenskit.algorithms.user_knn import UserUser
from lenskit.batch import predict
from lenskit.metrics.predict import user_metric, rmse

min_nn = 3
max_nn = 15
# Minimum (3) and maximum (15) number of neighbors to consider
user_user = UserUser(max_nn, min_nbrs=min_nn)
recsys = Recommender.adapt(user_user)
algo = recsys
algo.fit(train_set)
preds = predict(algo, test_set)
user_metric(preds, metric=rmse)

In [ ]:
# We use the collaborative user algorithm ItemItem, that use the nearest neighbors
num_recs = 10  # Number of recommendations to generate
item_item = ItemItem(15, min_nbrs=3)  # Minimum (3) and maximum (15) number of neighbors to consider
recsys_itemitem = Recommender.adapt(item_item)
recsys_itemitem.fit(simple_Ratings)

# generate 10 recommendations for the selected user
selected_restaurants_itemitem = recsys_itemitem.recommend(default_user_Profile["userID"].iloc[0], 10)
selected_restaurants_itemitem = pd.merge(
    selected_restaurants_itemitem, default_res_Profile, left_on='item', right_on='placeID')
display(selected_restaurants_itemitem)